:root {
  --midnight-green: #0b3c49ff;
  --byzantium: #d62839;
  --white: #fffdfdff;
  --timberwolf: #cbd2d0ff;
  --celestial-blue: #5398be;
  --gray: #1f2937;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  color: var(--gray);
}

.container {
  display: grid;
  grid-template: 60px 1fr / 250px 1fr;
  height: 100%;
  background-color: var(--white);
}

.container > main {
  padding: 32px;
}

aside {
  background-color: var(--timberwolf);
  padding: 16px;
}

aside,
.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

aside > button,
.projects > button,
.new-project {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 6px;
  padding: 4px 0px;
  padding-left: 8px;
}

aside > button:not(.tab) {
  background-color: var(--byzantium);
  color: white;
  padding: 8px;
  max-width: max-content;
}

button:not(.tab):hover {
  background-color: #ba324f;
  color: var(--white);
}

button[class*="tab"]:not(.active):hover {
  background-color: var(--midnight-green);
  color: var(--white);
}

.tab.active,
aside .tab.active .material-symbols-outlined {
  background-color: var(--midnight-green);
  color: white;
  font-weight: 600;
}

nav {
  background-color: var(--midnight-green);
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  color: white;
  gap: 8px;
  padding-left: 16px;
}
h1 {
  font-size: 1.75rem;
}

.material-symbols-outlined.md-48 {
  font-size: 36px;
}

#tasks {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
}

form {
  display: none;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 90%;
  margin-top: 16px;
}

.submit {
  background-color: var(--byzantium);
  border-radius: 6px;
  padding: 4px 8px;
  color: white;
}

.cancel {
  background-color: transparent;
  color: var(--midnight-green);
  font-weight: 600;
  border-radius: 6px;
}

form div {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
  background-color: #f0fdfa;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

input[type="text"],
input[type="date"],
select,
textarea {
  appearance: none;
  border: #9ca3af solid 1px;
  border-radius: 4px;
  padding: 8px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border: #ba324f solid 2px;
  outline: none;
  box-shadow: #e879f9 1.95px 1.95px 2.6px;
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0px 16px;
}

label:first-child {
  margin-top: 16px;
}

label[for="priority"] {
  position: relative;
}

select {
  min-width: 120px;
}

label[for="priority"]::after {
  content: "▼";
  color: var(--gray);
  position: absolute;
  top: 4px;
  left: 175px;
  pointer-events: none;
}

.task {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  border-bottom: 2px solid var(--celestial-blue);
  position: relative;
  padding-left: 28px;
}

input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"] + span::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--gray);
  position: absolute;
  top: 25px;
  left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked + span::before {
  content: "✔";
  color: white;
  background-color: green;
  border-color: green;
}

input[type="checkbox"]:checked ~ div:first-of-type {
  text-decoration: line-through;
}

textarea {
  resize: none;
  width: 80%;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.projects-header > button.new-project {
  padding: 4px;
  gap: 10px;
  color: var(--gray);
}

form#new-project {
  max-width: 50%;
}

.delete,
.edit {
  background-color: transparent;
}

button.delete:hover,
button.edit:hover {
  background-color: transparent;
}

.delete > span,
.edit > span,
aside .tab .material-symbols-outlined {
  color: #4b5563;
}

.delete > span:hover,
.edit > span:hover {
  color: var(--gray);
}
